
.type{
    margin: auto;
}
.typing {
    width: 8ch;
    border-right: 4px solid black;
    margin: 2rem auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s steps(8, end), blink-caret 0.5s step-end infinite alternate;
}
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
